/* Resetando margens, padding e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Layout base com flexbox */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--text-color);
}

:root {
    --primary: #474747;
    --secondary: #00a6ff;
    --hover-color: #47a0d0;
    --text-color: #fff;
}

/* Estilização do header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: rgba(187, 185, 185, 0.38);
    border-bottom: 1px solid var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transition: background-color 0.3s ease-in-out;
}

header img {
    width: 80px; /* Defina a largura da logo */
    height: auto;
}

header.solid-background {
    background-color: #000922; /* Cor sólida quando o usuário rolar */
    transition: background-color 0.3s ease-in-out;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#nav-horizontal-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

#nav-horizontal-menu li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

#nav-horizontal-menu li a:hover {
    background-color: var(--hover-color);
    color: var(--primary);
}

#nav-horizontal-menu li a:active {
    transform: scale(0.95);
}

div button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--secondary);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

div button:hover {
    background-color: var(--hover-color);
}

/* Estilização da imagem de fundo */
#background-image {
    background-image: url('../assets/img/DSC_0534.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 0px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
}

/* Estilização das tags <h1> e <p> */
#background-image h1 {
    font-size: 4rem;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#background-image p {
    font-size: 1.5rem;
    color: var(--primary);
    margin-top: 20px;
}

/* Estilização do Main */
main {
    padding-bottom: 20px; 
}

/* Estilização da seção do banner */
#banner {
    margin-top: 100px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide p {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    border-radius: 5px;
}

.swiper-container {
    width: 80%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.swiper-pagination-bullet {
    background: var(--secondary);
}

.swiper-button-next, .swiper-button-prev {
    color: var(--secondary);
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    color: var(--hover-color);
}

/* Seção Sobre (About) */
#section-about {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    background-color: #f5f5f5;
}

#section-about img {
    width: 40%;
    margin-right: 20px;
}

#section-about-text {
    flex: 1;
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

/* Seção Serviços (Services) */
#section-services {
    color: #333;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

#section-services h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

/* Estilização dos itens de serviço */
.service-item {
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-icon {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 15px;
}

/* Estilização do footer */
footer {
    background-color: rgba(187, 185, 185, 0.38);
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--secondary);
    position: relative;
    margin-top: auto;
    width: 100%;
}

footer p {
    margin-bottom: 15px;
}

footer a {
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.1);
}

#footer-p-id {
    margin-top: 10px;
    font-size: 14px;
    color: var(--secondary);
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-icons li {
    margin: 0 10px;
}
